<h1>Send Money</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col">
            <label for="creditorId">To</label>
            <!-- <select name="creditorId" (change)="ChangeCreditor($event)" formControlName="creditorId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.creditorId.errors }">
                <option>--Select--</option>
                <option [value]="transfer.creditorId" *ngFor="let transfer of TransferList">
                    {{transfer.creditorId}}
                </option>
            </select> -->
            <select name="creditorId" (change)="ChangeCreditor($event)" formControlName="creditorId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.creditorId.errors }">
                <option>--Select--</option>
                <option [value]="user.userId" *ngFor="let user of ContactList">
                    {{user.lastName}} {{user.firstName}}
                </option>
            </select>
            <!-- <input type="text" formControlName="creditorId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.creditorId.errors }" /> -->
            <div *ngIf="submitted && f.creditorId.errors" class="invalid-feedback">
                <div *ngIf="f.creditorId.errors.required">Friend is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="amount">Amount</label>
            <input type="text" formControlName="amount" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.amount.errors }" />
            <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                <div *ngIf="f.amount.errors.required">Amount is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="description">Description</label>
            <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">Description is required</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/transfers" class="btn btn-link">Cancel</a>
    </div>
</form>

<!-- <form [formGroup]="formBank" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col">
            <label for="bankAccountId">Bank Name</label> 
            <select name="bankAccountId" (change)="ChangeBankAccount($event)" formControlName="bankAccountId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.bankAccountId.errors }">
                <option>--Select--</option>
                <option [value]="bankAccount.bankAccountId" *ngFor="let bankAccount of BankAccountList">
                    {{bankAccount.bankName}}
                </option>
            </select>
            <div *ngIf="submitted && f.bankAccountId.errors" class="invalid-feedback">
                <div *ngIf="f.bankAccountId.errors.required">Bank Name is required</div>
            </div>
        </div>
</form> -->