<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="/transfers" routerLinkActive="active">Transfers</a>
        <a class="nav-item nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
        <a class="nav-item nav-link" routerLink="/contacts" routerLinkActive="active">Contacts</a>
        <a class="nav-item nav-link" *ngIf="showAdminBoard" routerLink="/profile/admin" routerLinkActive="active">Admin Board</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>

<!-- credits -->
<div class="text-center mt-4">
    <h5>
        <a>Pay My Buddy</a>
    </h5>
    <p>
        <a>© 2022 Simon Courtecuisse</a>
    </p>
</div>