<div class="text-center mt-4">
<h1>Contacts</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Contact</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">First Name</th>
            <th style="width: 30%">Last Name</th>
            <th style="width: 30%">Email</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of contacts">
            <td>{{contact.firstName}}</td>
            <td>{{contact.lastName}}</td>
            <td>{{contact.email}}</td>
            <td style="white-space: nowrap">
                <button (click)="deleteFriend(contact.userId)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="contact.isDeleting">
                    <span *ngIf="contact.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!contact.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!contacts">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
