<div class="text-center mt-4">
    <h1>Profile</h1>
    <h4>Your Wallet :</h4>
    <h2>$ {{user.walletBalance}}</h2>
    <p><a routerLink="bankAccounts">Manage Bank Accounts</a></p>
</div>
<div class="text-center mt-4">
    <h4>Bank Transactions</h4>
    <a routerLink="credit" class="btn btn-sm btn-success mb-2 mr-1">Credit your account</a>
    <a routerLink="withdraw" class="btn btn-sm btn-success mb-2">Withdraw money</a>
</div>
<!-- <a routerLink="add" class="btn btn-sm btn-success mb-2">Add Bank Account</a> -->
<table class="table table-striped" id="bankTransaction">
    <thead>
        <tr>
            <th style="width: 30%">Bank Name</th>
            <th style="width: 30%">Amount</th>
            <th style="width: 30%">Date</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bankTransaction of bankTransactions">
            <td>{{bankTransaction.bankAccount.bankName}}</td>
            <td>{{bankTransaction.amount}}</td>
            <td>{{bankTransaction.date}}</td>
            <td style="white-space: nowrap">
            </td>
        </tr>
        <tr *ngIf="!bankTransactions">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
<!-- <script>
 $(document).ready(function() {
    $('#sortTable').DataTable( {
        "order": [[ 3, "desc" ]]
    } );
} );
    //$('#sortTable').DataTable();
    </script> -->